<html>

<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>


<div class="container">
<div class="row d-flex justify-content-center">
{% for user in users %}
<div class=" tile col-md-3 worksContainer">
<img class="card-img-top" src="{{url_for('static', filename='images/generic-avatar.png')}}" alt="user">
<h4 class="tile-h4">{{user.first_name}}  {{user.last_name}}</h4>
<p class="tile-p">{{user.title}}</p>
<p class="tile-p">{{user.company}}</p>
<form method="post">
<!-- <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <button class="btn btn-primary " name="submit" type="submit">Login</button>
      </div>
     </form> -->
<a class="btn btn-primary" href="{{url_for('new_permit')}}" role="button">New Permit</a>
<a class="btn btn-warning" href="{{url_for('permits')}}" role="button">Permits</a>
</div>
{% endfor %}
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>